@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: 'Passion One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* font-family: 'Sriracha', cursive;
*/

header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin: -8px;
    font-size: 2vw;

}
h1{
    font-family: 'Passion One', cursive;
    font-size: 3em;
    font-weight: bold;
    padding: 10px;
    font-variant: small-caps;
}
a{
    font-family:'Sriracha', cursive;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
a:hover{
    text-decoration: underline;
}

main{
    
    background-color: rgb(251, 253, 255);
    margin: -8px;
 
    
}

main p{
    font-family:'Sriracha', cursive;
    padding: 50px;
    font-size: 2.2vw;
    max-width: 20%;
    max-height: 20%;
    text-align: left;
    width: 400px;
    margin: 25px; 
    line-height: 2em;
     
}

div{
    background-color: white;
    padding: 10vh;
}
div#fundo1{
    
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat
}
div#fundo2{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
 div>p.pf{
    color: aliceblue;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.641) 55%, rgba(255, 255, 255, 0));
    width: 400px;
    max-height: max-content;
    border-radius: 10px;
    
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 2px ;
    margin: -8px;
    font-size: 1.5vw;
}
footer a{
    padding: 0px;
}
